body {
    font-family: "Sohne-Kraftig-Normal", sans-serif;
}

h1 {
    font-family: "Sohne-Kraftig-Bold", sans-serif;
}

.header_xxl {
    font-size: 2.875rem;
    line-height: 1;
    margin-bottom: 1.25rem;
    font-weight: 800;
}

h4 {
    font-size: 1.125rem;
    line-height: 1.5;
}

* > p:not(:last-child) {
    margin-bottom: .95rem;
}
