.box_links {
    display: grid;
    color: #FFF;
    grid-gap: .8rem;
}

.box_links figure {
    width: 100%;
    height: 275px;
}

.box_links a {
    display: block;
}

.box_links article {
    padding: 1.5rem 1.25rem;
}
