.content_block_stylized {
    padding: 4rem 0;
}

.content_block_stylized ~.content_block_stylized {
    padding-top: 0;
}

.list {
    margin-top: 2.5rem;
}

.list .list_item:not(:last-child) {
    margin-bottom: .5rem;
}

.list_item {
    padding: 1rem;
}

.footer {
    margin-top: 1rem;
    padding-top: 1rem;
    border-top: 6px solid #000;
}


@media screen and (min-width: 1280px) {
    .content_block_stylized {
        padding: 8rem 0;
    }

    .content_block_stylized_wrapper {
        max-width: 990px;
        display: flex;
        margin: 0 auto;
    }

    .content_wrapper {
        max-width: 30rem;
        margin-right: 2.5rem;
    }

    .list {
        margin-top: 0;
    }

    .list_wrapper {
        flex-grow: 1;
    }
}
