.content_block {
    margin-top: 1.25rem;
}

.content_block > div {
    padding: 6rem 2rem;
}

@media screen and (min-width: 990px) {
    .content_block__columns_wrapper,
    .content_block_wrapper {
        display: flex;
        max-width: 990px;
        margin: 0 auto;
    }

    .content_block__columns_wrapper .content_block_column:first-child {
        margin-right: 8rem;
    }

    .content_block__columns_wrapper .content_block_column:last-child {
        max-width: 40rem;
    }
}
