.content_block_stylized {
    padding: 4rem 0;
}

.content_block_stylized ~.content_block_stylized {
    padding-top: 0;
}

.list {
    margin-top: 2.5rem;
}

.list .list_item:not(:last-child) {
    margin-bottom: .5rem;
}

.list_item {
    padding: 1rem;
}

.footer {
    margin-top: 1rem;
    padding-top: 1rem;
    border-top: 6px solid #000;
}
