.content__editor {
    /*overflow-wrap: break-word;*/
}

.content__editor ol li {
    list-style-type: lower-alpha;
    list-style-position: inside;
}

.content__editor ul li {
    list-style-type: disc;
    list-style-position: inside;
}

.content__editor li:not(:last-child) {
    margin-bottom: 1.25rem;
}
