.community_investment {
    padding-bottom: 2.5rem;
}

.community_investment_wrapper {
    max-width: 990px;
    margin: 0 auto;
}

.community_investment_content article h1:first-child,
.community_investment_content article h2:first-child,
.community_investment_content article h3:first-child,
.community_investment_content article h4:first-child {
    margin-bottom: 0;
}

.community_investment_content p {
    font-size: 0.9rem;
}
