.hero__banner_section {
    height: 100vh;
    overflow: hidden;
    margin-bottom: 1rem;
}

.hero__banner {
    position: relative;
    width: 100%;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 1rem 2.5rem;
}

.hero__banner_background {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    overflow: hidden;
}

.hero__banner article {
    color: #FFFFFF;
    max-width: 50rem;
}

.hero__banner p {
    font-size: 1.125rem;
}


.hero__banner_video__block_container {
    height: 100vh;
}

.hero__banner_video__block {
    height: 100vh;
}

.hero__banner_video__image_block {
    position: relative;
    height: 100%;
}

.hero__banner_button {
    margin-top: 1.5rem;
}

@media screen and (min-width: 768px) {
    .hero__banner_section {
        height: 600px;
    }
}

@media screen and (min-width: 1280px) {
    .hero__banner_section {
        height: 980px;
    }
}
