.hero__banner {
    position: relative;
    width: 100%;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    min-height: 75vh;
    padding: 4rem 5rem;
}

.hero__banner_background {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}


.hero__banner article {
    color: #FFFFFF;
    max-width: 50rem;
}
