.section_link {
    font-size: 2rem;
    font-family: "Sohne-Kraftig-Bold", sans-serif;
}

.hou_innovate {
    margin-bottom: 2rem;
}

.hou_innovate a {
    text-decoration: none;
}

.block_links,
.block_links h4 {
    font-family: "Sohne-Kraftig-Normal", sans-serif;
}

.block_links h4 {
    margin-bottom: .5rem;
}

.section_link_list_item,
.block_links h4,
.hou_innovate,
.section_link_list_item {
    color: #FFF;
}

.hou_innovate a,
.block_links a {
    color: #868686;
}

.annual_report {
    margin: 2.5rem 0 1.5rem 0;
    font-family: "Sohne-Kraftig-Bold", sans-serif;
}

.annual_report a {
    color: white;
    display: flex;
    align-items: center;
}

.annual_report a span {
    margin-right: 1rem;
}

.annual_report div {
    background-color: #FFF;
    width: 100px;
    height: 4px;
    margin-top: 1.5rem;
}

.section_link_list_item,
.section_links,
.block_links div {
    margin-bottom: 0.5rem;
}

.block_links {
    font-size: 0.9rem;
    line-height: 1.2rem;
}
