.input {
    @apply text-white bg-black border-2 border-white w-full;
    padding: 0.5rem 2.5rem 0.5rem 1rem;
}

.input::placeholder {
    color: #868686;
    font-size: .75rem;
}

.submit_button {
    width: 1.5rem;
    height: 1.5rem;
    position: absolute;
    z-index: 20;
    margin: auto;
    right: .75rem;
}

.form_container {
    display: flex;
    align-items: center;
    position: relative;
}
