.phases {
    padding: 4rem 2rem;
}

.phase_list {
    margin-top: 2.5rem;
}

.phase_list .phase:not(:last-child) {
    margin-bottom: 2.5rem;
}

.phase div:first-child {
    margin-right: 1rem;
}

.phase article {
    padding-right: 1.5rem;
}

.phase h5 {
    font-family: "Sohne-Kraftig-Bold", sans-serif;
}

.phase .hidden {
    display: none;
}
