.pop_up__link .content,
.progress_content {
    padding: 1.5rem 1.5rem 0 1.5rem;
}

.pop_up__link_container  {
    background: #F4F4F4;
    display: flex;
    flex-direction: column;
    height: 100%;
    cursor: pointer;
}

.pop_up__link .progress {
    margin-top: auto;
}

.pop_up__link h2 {
    font-size: 1.875rem;
    margin-bottom: 1rem;
    font-family: "Sohne-Kraftig-Bold", sans-serif;
}

.pop_up__link h5 {
    font-size: 1.25rem;
    margin-top: .4rem;
}

.pop_up__link_hidden {
    display: none;
}

.pop_up__links_container {
    margin-top: 1.5rem;
    display: grid;
    grid-gap: 1rem;
    grid-auto-rows: 1fr;
}

.pop_up__links_count {
    margin-top: .6rem;
    display: flex;
    justify-content: flex-end;
}

.pop_up__link .current_phase {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.progress_container {
    margin-top: auto;
}

.current_phase_text {
    text-transform: capitalize;
    font-family: "Sohne-Kraftig-Bold", sans-serif;
    font-size: 1.25rem;
}

@media screen and (min-width: 990px) {
    .pop_up__link_container {
        margin-bottom: 0;
    }

    .pop_up__links_container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}
