.project_based_opportunities_wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

.project_based_opportunities_content article h1:first-child,
.project_based_opportunities_content article h2:first-child,
.project_based_opportunities_content article h3:first-child,
.project_based_opportunities_content article h4:first-child {
    margin-bottom: 0;
}


.project_based_opportunities_content p {
    font-size: 0.9rem;
}
