.get_in_touch a {
    @apply text-innovate-smoke-gray no-underline;
}

.newsletter_cta h4,
.cta_link_container h4 {
    @apply text-xl font-kraftigBold;
}

.get_in_touch h1,
.get_in_touch article:not(:last-child) {
    @apply mb-8
}

.get_in_touch p {
    @apply text-sm;
}

.get_in_touch h4 {
    @apply text-xl  mb-1;
}

.get_in_touch article:last-child:before {
    content: "";
    height: 2px;
    width: 40%;
    @apply block mb-8 bg-white;
}

