.work_with_ion {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.work_with_ion_wrapper {
    max-width: 990px;
    margin: 0 auto;
}

.work_with_ion__content {
    margin-bottom: 2rem;
}

.work_with_ion__content,
.work_with_ion__content ul,
.ion_header,
.cta {
    display: flex;
}

.cta {
    align-items: center;
    align-self: flex-start;
    margin-top: 1rem;
}

.cta_icon {
    width: 2.5rem;
    margin-right: 1.5rem;
}

.select_text {
    font-size: 0.9rem;
}

.ion_header {
  max-width: 325px;
  margin-right: 1rem;
}

.work_with_ion__content ul li {
    font-family: Sohne-Kraftig-Bold, sans-serif;
    list-style-type: none;
    font-size: 1.25rem;
}

.work_with_ion__content li:not(:first-child) {
    margin-left: 1.5rem;
}

.work_with_ion__content li:not(:last-child) {
    margin-bottom: 0;
}
