@import "styles/components/ReactHamburger.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Sohne-Kraftig-Bold';
        src: url('../assets/soehne/soehne-kraftig.woff2') format('woff2');
        font-style: normal;
    }

    @font-face {
        font-family: 'Sohne-Kraftig-Normal';
        src: url('../assets/soehne/soehne-mono-buch.woff2') format('woff2');
        font-style: normal;
    }

    body {
        @apply font-body overflow-x-hidden;
    }

    /* Typography */

    h1,
    h2,
    h3,
    h4 {
        @apply font-kraftigBold mb-2;
        @apply mb-4;
    }

    h1,
    h2 {
        @apply leading-tight;
    }

    h1 {
        @apply text-4xl;
    }

    h2 {
        @apply text-3xl;
    }

    h3 {
        @apply text-2xl;
    }

    h4 {
        @apply text-xl;
    }

    h5 {
        @apply text-lg;
    }

    p, li, h6 {
        @apply text-sm leading-loose;
    }

    p a {
        @apply underline;
    }

    * > p:not(:last-child) {
        margin-bottom: 1.5rem;
    }


    /* BG Contrast */

    .bg-innovate-pink,
    .bg-innovate-neon {
        color: black;
    }

    .bg-innovate-black,
    .bg-innovate-red,
    .bg-innovate-blue {
        color: white;
    }

    /* don't judge me, gotta love random deviations from base typography */
    #engage h1 {
        @apply font-body;
    }

    .modal_content ul li {
        list-style-type: lower-alpha;
        @apply list-inside;
    }

    @media screen and (min-width: 990px) {
        h1,
        h2 {
            @apply leading-tight;
        }

        h1 {
            @apply text-5xl;
        }

        h2 {
            @apply text-4xl;
        }

        h3 {
            @apply text-3xl;
        }

        h4 {
            @apply text-2xl;
        }
    }

    @media screen and (min-width: 1280px) {
        h1 {
            @apply text-innovate-6xl;
        }

        h2 {
            @apply text-5xl;
        }
    }
}

.text-underline-blue {
    text-decoration-color: #1F2CA8;
}

.text-underline-neon {
    text-decoration-color: #DCE63C;
}
.text-underline-red {
    text-decoration-color: #F54932;
}


.no-scroll,
.ReactModal__Body--open {
    overflow: hidden;
}

.full-screen {
    left: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    max-width: 100vw;
    position: relative;
    right: 50%;
    width: 100vw;
}

.loading {
    @apply fixed top-0 left-0 w-full h-full z-50 text-white bg-black flex justify-center items-center;
}

/* React Player in Hero Banner */

.player-wrapper {
    height: auto !important;
    aspect-ratio: 16/9;
}

.ReactModal__Overlay {
    z-index: 1000;
}
