@import "styles/components/ReactHamburger.css";
@tailwind base;
@tailwind utilities;

@layer base {
    @import "styles/typography/fonts.css";
    @import "styles/typography/typography.css";
}

.no-scroll {
    overflow: hidden;
}

.full-screen {
    left: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    max-width: 100vw;
    position: relative;
    right: 50%;
    width: 100vw;
}
